<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	{% if todos_errores %}
		<ul>
		{% for campo, errores in todos_errores %}
			{% for error in errores %}
				<li><strong>{{ campo }}</strong>: {{ error }}</li>			
			{% endfor %}
		{% endfor %}
		</ul>
	{% endif %}
	<form action="#" method="post">
		{{ form.csrf_token }}
		{{ form.name.label }}{{ form.name() }}<br>	
		{{ form.age.label }}{{ form.age(class='form-control') }}<br>
		{{ form.email.label }}{{ form.email() }}<br>
		{{ form.submit() }}
	</form>		
</body>
</html>
